nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 15px;
}

.hero,
.footer {
    background-color: #1f2937;

}

.hero>h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero>p {
    font-size: 18px;
    color: #e5e7eb
}

.content>h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.listItems {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.push {
    margin-left: auto;
}

a {
    text-decoration: none;
}

.quoteSec {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quoteSec>p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.quoteSec>span {
    font-size: 20px;
    color: #1f2937;
    align-self: flex-end;
}