nav {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 15px;
}

main {
    display: flex;
    flex-direction: column;
}

.hero,
.footer {
    background-color: #1f2937;

}

.hero>h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero>p {
    font-size: 18px;
    color: #e5e7eb
}

.content>h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.content {
    background-color: white;
}

.listItems {
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

.push {
    margin-left: auto;
}

a {
    text-decoration: none;
}

.quoteSec {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
}

.quoteSec>p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937
}

.quoteSec>span {
    font-size: 20px;
    color: #1f2937;
    align-self: flex-end;
}

section>section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    height: 80%;
    width: 80%;
}

section>section,
.button {
    background-color: #3882f6;
}

.signUp {
    /* color: #e5e7eb; */
    /* background-color: #3882f6; */
    /* margin: 20px; */
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}